<%- include("partials/header.ejs") %>

    <div class="content">
        <div class="title">
            <h1><%= listTitle %>
            </h1>
        </div>

        <div class="tasks">
            <% if(!locals.tasks || tasks.length === 0){ %>

                <p>No tasks yet</p><hr>

            <% } else{ %>

                <ul>
                    <% tasks.forEach((task)=>{ %>
                        <li><input type="checkbox" name="" id=""> <label for="" class=""><%= task.taskName %></label><hr></li>
                    <% }); %>
                </ul>
                
                <% } %>

            <div class="addTask">
                <form action="/" method="POST">
                    <input type="text" name="task" id="" placeholder="New task">
                    <button type="submit" name="listTitle" value="<%= listTitle %>">+</button>
                </form>
            </div>

        </div>
    </div>
<%- include("partials/footer.ejs") %>
